DesignPatters/bin/Debug/net9.0/DesignPatters.deps.json
DesignPatters/bin/Debug/net9.0/DesignPatters.dll
DesignPatters/bin/Debug/net9.0/DesignPatters.exe
DesignPatters/bin/Debug/net9.0/DesignPatters.pdb
DesignPatters/bin/Debug/net9.0/DesignPatters.runtimeconfig.json
DesignPatters/obj/DesignPatters.csproj.nuget.dgspec.json
DesignPatters/obj/DesignPatters.csproj.nuget.g.props
DesignPatters/obj/DesignPatters.csproj.nuget.g.targets
DesignPatters/obj/project.assets.json
DesignPatters/obj/project.nuget.cache
DesignPatters/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
DesignPatters/obj/Debug/net9.0/apphost.exe
DesignPatters/obj/Debug/net9.0/DesignPatters.AssemblyInfo.cs
DesignPatters/obj/Debug/net9.0/DesignPatters.AssemblyInfoInputs.cache
DesignPatters/obj/Debug/net9.0/DesignPatters.assets.cache
DesignPatters/obj/Debug/net9.0/DesignPatters.csproj.CoreCompileInputs.cache
DesignPatters/obj/Debug/net9.0/DesignPatters.csproj.FileListAbsolute.txt
DesignPatters/obj/Debug/net9.0/DesignPatters.dll
DesignPatters/obj/Debug/net9.0/DesignPatters.GeneratedMSBuildEditorConfig.editorconfig
DesignPatters/obj/Debug/net9.0/DesignPatters.genruntimeconfig.cache
DesignPatters/obj/Debug/net9.0/DesignPatters.GlobalUsings.g.cs
DesignPatters/obj/Debug/net9.0/DesignPatters.pdb
DesignPatters/obj/Debug/net9.0/ref/DesignPatters.dll
DesignPatters/obj/Debug/net9.0/refint/DesignPatters.dll
DesignPatters/obj/Debug/net9.0/DesignPatters.sourcelink.json
